services:
  db:
    image: postgres:17-alpine
    container_name: infra-db
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: >
      postgres
        -c max_connections=1000
        -c shared_buffers=256MB
        -c effective_cache_size=768MB
        -c maintenance_work_mem=64MB
        -c checkpoint_completion_target=0.7
        -c wal_buffers=16MB
        -c default_statistics_target=100
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 3s
      retries: 5
    restart: unless-stopped
    networks:
      - backend

  redis:
    image: redis:7-alpine
    container_name: infra-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes --requirepass "password"
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "password", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - backend

  app:
    build:
      context: ..
      dockerfile: src/Dockerfile
    container_name: infra-app
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:postgres@db:5432/postgres
      REDIS_URL: redis://redis:6379/0
      REDIS_PASSWORD: password
      CELERY_BROKER_DB: 1
      CELERY_RESULT_DB: 2
      CELERY_TIMEZONE: Europe/Moscow
      CELERY_ENABLE_UTC: "true"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ../src:/app/src
    restart: unless-stopped
    networks:
      - backend

  celery_worker:
    build:
      context: ..
      dockerfile: src/Dockerfile
    container_name: infra-celery-workeer
    env_file:
      - ../.env
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:postgres@db:5432/postgres
      REDIS_URL: redis://redis:6379/0
      REDIS_PASSWORD: password
      CELERY_BROKER_DB: 1
      CELERY_RESULT_DB: 2
      CELERY_TIMEZONE: Europe/Moscow
      CELERY_ENABLE_UTC: "true"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - ../src:/app/src
    command: ["celery", "-A", "src.celery.celery_app:celery_app", "worker", "-l", "debug"]
    restart: unless-stopped
    networks:
      - backend

  celery_beat:
    build:
      context: ..
      dockerfile: src/Dockerfile
    container_name: infra-celery-beat
    env_file:
      - ../.env
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:postgres@db:5432/postgres
      REDIS_URL: redis://redis:6379/0
      REDIS_PASSWORD: password
      CELERY_BROKER_DB: 1
      CELERY_RESULT_DB: 2
      CELERY_TIMEZONE: Europe/Moscow
      CELERY_ENABLE_UTC: "true"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - ../src:/app/src
      - celerybeat_data:/app/celerybeat
    command: >
      sh -c "mkdir -p /app/celerybeat &&
             celery -A src.celery.celery_app:celery_app beat -l info
             --schedule=/app/celerybeat/celerybeat-schedule
             --pidfile=/app/celerybeat/celerybeat.pid"
    restart: unless-stopped
    networks:
      - backend

  flower:
    build:
      context: ..
      dockerfile: src/Dockerfile
    container_name: infra-flower
    env_file:
      - ../.env
    environment:
      REDIS_URL: redis://redis:6379/0
      REDIS_PASSWORD: password
      CELERY_BROKER_DB: 1
      CELERY_RESULT_DB: 2
      CELERY_TIMEZONE: Europe/Moscow
      CELERY_ENABLE_UTC: "true"
    depends_on:
      redis:
        condition: service_healthy
    ports:
      - "5555:5555"
    command: ["celery", "-A", "src.celery.celery_app:celery_app", "flower", "--port=5555"]
    restart: unless-stopped
    networks:
      - backend


volumes:
  postgres_data:
  redis_data:
  celerybeat_data:

networks:
  backend:
    driver: bridge
